/*the code below is for all pages for website it's going to change the background color to whitesmoke 
it's also going to change the font to sans-serif*/
body h2, body {
    background-color: #D7CEC7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*this is going to change where the search button is goingto be, I want it to be at the top right */
header h2 {
    text-align: left;
    padding: 15px;
}
/*this is going to resize the width and height of the logo since I changed it and when I inserted it
it was a litle too big.*/
header img {
    width: 180px;
    height: 180px;
    text-align: left;
    margin: auto 5px;
    border-radius: 40%;
}
/*this is going to change the font size of the "Contact Us" text*/
.contact {
    font-size: 40px;
}
/*code below will underline the content in the 'help' class */
.help {
    text-decoration: underline;
}
/*this is going to put a border around the content in the footer section
and it's going to help me know that it's separated */
footer {
    padding: 15px;
    /*border: 5px solid black;*/
    color: black;
        font-size: 20px;
        border: 8px solid black;
}
/*underline the "Women's Shoes"*/
.side {
    text-decoration: underline;
}
/*trying the box model to see if i can rearrange the pictures in the womens webpage */
.pictures {
    padding: 20px;
    padding-bottom: 20px;
}


nav ul {
    /*padding-left: 600px;
    padding-bottom: 10px;*/
    list-style: none;
    margin: 0 5px;
    padding: 10px;
    display: flex;
    /*color: white;*/
    justify-content: space-around;
}

/*NavBar*/
nav {
    text-align: center;
    margin: 20px 0 0;
    padding: 10px 0;
    background-color: rgb(49, 18, 18);
    color: wheat;
    /*display: flex;*/
}

ul {
    /*list-style-type: none;*/
}

nav li {
    display: inline-block;
    padding: 5px 5px;
    color: blue;
}

li {
    display: inline-block;
}

nav a {
    /*display: inline-block;
    padding: 7px;
    text-decoration: none;
    color: white;*/
    font-weight: bold;
    font-weight: bold;
    padding: 10px 5px;
    color: white;
    font-size: 26px;
}
/*when you hover over the nav bar thw background color will turn black*/
a:hover {
    background-color: black;
    color: #D7CEC7;
}
/*making the search button the the top right*/
.search {
    float: right;
    width: 13%;
    padding: 7px;
    font-size: 17px;
}
/*making the h2 image blink for when users go to website it will automatically blink*/
@-webkit-keyframes blinker{
    from{opacity: 1.0;}
    to{opacity: 0.0;}
}
/*making the main pictire on the home page blink*/
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}